.s_guiabh_football_matches {
  background-color: rgba(0, 0, 0, 0.015);

  .guiabh-football-card {
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 18px;
    padding: 1.5rem;
    background-color: #fff;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    height: 100%;
  }
}
